<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net472" />
  <package id="ModernUI.WPF" version="1.0.9" targetFramework="net472" />
  <package id="pythonnet_netstandard_py37_win" version="2.5.2" targetFramework="net472" />
</packages>